# Common
node_modules/

# Rust
contract-rs/target/
contract-rs/Cargo.lock

# TypeScript - Sandbox
contract-ts/sandbox-ts/package-lock.json
contract-ts/sandbox-ts/node_modules/
contract-rs/sandbox-ts/node_modules/

# TypeScript
contract-ts/build/
contract-ts/node_modules/
contract-ts/sandbox-ts/node_modules/
contract-ts/sandbox-ts/yarn.lock
contract-ts/yarn.lock
contract-ts/package-lock.json

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.parcel-cache
frontend/yarn.lock
frontend/package-lock.json

# Frontend - next
next-app/node_modules/
next-app/.pnp
next-app/.pnp.js
next-app/.yarn/install-state.gz

# testing
next-app/coverage

# next.js
**/next-app/.next/
next-app/out/

# production
next-app/build

# misc
next-app/.DS_Store
next-app/*.pem

# debug
next-app/npm-debug.log*
next-app/yarn-debug.log*
next-app/yarn-error.log*

# local env files
next-app/.env*.local

# vercel
next-app/.vercel

# typescript
next-app/*.tsbuildinfo
next-app/next-env.d.ts

# env
.env

